<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<script src="client.js"></script>
<body>
  <!-- Leaving out any navbar temporarily <% include ../partials/nav.ejs %> -->

  <header class="bg-primary text-white">
    <div class="container text-center">
      <h1>RB Places</h1>
      <p class="lead">Where people in Rexburg, Idaho help each other by reviewing local places to visit.</p>
    </div>
  </header>

  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Welcome</h2>
          <p class="lead">BYU-Idaho students don't need to be bored anymore. It's time to spread the word about any fun place you know about in or near Rexburg! Start contributing now!</p>
          <ul>
            <li>Share favorite restaurants</li>
            <li>Share cool hiking spots</li>
            <li>Review any place you want</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section id="services" class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>View Places</h2>
          <p class="lead">See what Places people recommend!</p>
          <a href="/search">Browse the database</a>
        </div>
      </div>
    </div>
  </section>


  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; John Larson 2019</p>
    </div>
    <!-- /.container -->
  </footer>


</body>
</html>
