<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Search Places - RB Places</title>
    <% include ../partials/header.ejs %>
    <script src="client.js"></script>
</head>
<body>
    <header class="bg-primary text-white">
        <div class="container text-center">
            <h1>RB Places</h1>
            <p class="lead">Where people in Rexburg, Idaho help each other by reviewing local places to visit.</p>
        </div>
    </header>
    <div class="container">
            <div class="row">
              <div class="col">
    <h2>Search By Name</h2>
    <input type="text" id="placename" size="30" placeholder="Name of store, restaurant, etc...">
    <button onclick="nameSearch()">Search</button>
              </div>
              <div class ="col">
             
    <h2>Or, Search By Category</h2>
    <select id="type">
        <option value="Parks/Trails">Parks/Trails</option>
        <option value="Resturants">Resturants</option>
        <option value="Recreation">Recreation</option>
        <option value="Stores">Stores</option>
    </select>
    <button onclick="typeSearch()">Search</button><br>
</div>
</div>
</div>
    <div id="results">
        <h3>Results Will Appear Here</h3>
        
    </div><br>
    <form id="review" hidden>
            Choose a score: <select id="score"><br> 
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <br>
            Write your thoughts:<br><textarea id="comment" rows="6" cols="50"></textarea><br>
            <button onclick="submitReview()">Submit Review</button>
        </form>
        <input type="text" id="placeid" hidden disabled value=-1></input> <!--For query convenience-->
    <div class="container">
            <div class="row">
              <div class="col">
    <h3><a href="/submit">Add a Place</a></h3>
    <p>If there's a place you want to review that isn't here, add it now!</p>
    <h3>See All Places</h3>
    <p>Click the button see a list of every Place we have so far. To get more info, just type its name into the search bar above.</p>
    <button onclick="displayAll()">See All Places</button>
    <ul id="allplaces">

    </ul>
    <a href="/">Home</a>
    </div>
    </div>
    </div>
</body>
</html>